

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PYTHON </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<h1>hello rasool </h1>
<body>
    <h2>thsi is the body </h2>
    <p>this is the paragraph</p>

    <ul>About Links        <li>
        <h1>clic hear to open </h1>
        <button <a href="https://www.youtube.com/"></a>>Youtube></a></button>
            <a href="https://www.google.com/webhp?hl=en&sa=X&ved=0ahUKEwiuyobJxa2SAxVjwzgGHeLbNBYQPAgJ">Google</a><p
        <li><a href="https://www.youtube.com/">Youtube</a></li>
        <img src="https://www.investopedia.com/thmb/0JMOllaGpZKOjLYwq-RmX3Q7q4c=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/TermDefinitions_Idletime_colorv1-d4df7368bb5046a1959425cf289eba77.png" alt="imgage">
    </ul>
    <iframe src="https://youtu.be/F3hHTG7l1mM?si=SE6sGetH4orAHgKI" frameborder="0">thsi is a video of motivation</iframe>
    
</body>
</html>